{% extends "./base.html" %}


{% block tittle %} PORTFOLIO|Home{% endblock %}
{% block content %}
  <div class="header" id="topheader">
    <section class="header-section">
      <div class="center-div ">
        <h1 class="font-weight-bold m-2">I'm not a great programmer I'm just a good programmer with great habits.
        </h1>
        <p>we connect the world </p>
        <div class="header-button">

          <div>
            <a href="about/">About Us </a>
          </div>
          <div>
            <a href="contact/">Contect us</a>
          </div>


        </div>
      </div>
    </section>
  </div>

  <!--------------header part --------->
  <!---------------three extra div-------------start-->
  <section class="header-extradiv   ">
    <div class="container  ">
      <div class=" extra-div1 font-weight-bold">
        <h1>KEY FEATURES OF THIS WEBSITE</h1>
      </div>
      <div class="row">
        <div class=" extra-div col-lg-4 col-md-4 col-12">
          <a href="#"><i class="fa-3x fa fa-desktop" aria-hidden="true"></i></a>
          <h2>EASY TO USE</h2>
          <p>This website is simple and user-friendly .Because this website build with proper planning and thorough
            testing .Focus is on content, structure, flow and functionality without other visuals to distract the eye
          </p>
        </div>

        <div class=" extra-div col-lg-4 col-md-4 col-12">
          <a href="#"><i class="fa-3x fa fa-magic" aria-hidden="true"></i></a>
          <h2>AWESOME DESIGN</h2>
          <p> To make this website responsive and UI designing I use Bootstrap . I also include a call to action on
            nearly every page</p>
        </div>

        <div class=" extra-div col-lg-4 col-md-4 col-12">
          <a href="#"><i class="fa-3x fa fa-mobile" aria-hidden="true"></i></a>
          <h2>Mobile Friendly </h2>
          <p>We can use phones and tablets to access the web easly. This means, it will display nicely on smaller
            screens. this a priority means i am providing top-notch customer service to your mobile and desktop
            visitors..</p>
        </div>

      </div>
    </div>
  </section>

  <!-----------------------------offer section  start---------------------->




  <section class="serviceoffers">
    <div class="container headings text-center">
      <h1 class="text-center font-weight-bold">
        <h1>SOME OTHER ACTIVITY</h1>
        <p> I provide some free courses on youtube</p>
      </h1>

      <div class="container">
        <div class="row border">

          <div class="border col">
            <div class="row border">
              <div class="col-2 service-icons">
                <i class="fa-3x fa fa-desktop" aria-hidden="true"></i>
              </div>
              <div class="col-8 service-icons">
                <h2>Web Developement using Django </h2>

              </div>

            </div>
            <div class="row border">
              <div class="col-2 service-icons">
                <i class="fa-3x fa fa-code" aria-hidden="true"></i>
              </div>
              <div class="col-8 service-icons">
                <h2>C , C++ , Python</h2>
                >
              </div>
            </div>

            <div class="row border">
              <div class="col-2 service-icons">
                <i class="fa-3x fa fa-wifi" aria-hidden="true"></i>
              </div>
              <div class="col-8 service-icons">
                <h2>Digital Marketing </h2>

              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </section>

  {% endblock %}