*{
    margin: 0; padding: 0; box-sizing: border-box;

}

a{text-decoration: none;}
a:hover{
    text-decoration: none;

}
p{
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
   
}
h2{
    font-size: 0.9rem;
   
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

i{
    color: rgb(26, 208, 221);
}
.header{
    color:white;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(71, 171, 218, 0.3),rgba(98, 178, 221, 0.3)), url('../images/home1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0% , 100% 77% , 50% 100% , 0 75% , 0 0);
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
    
}
.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right ,#1e992c 0% , #b5cd3c 0% , #13b8c4 100%);

}
.nav-item a{
    color: white!important;
    font-weight: bold;
}


.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.header-button div{
    display: flex;
  
   
   flex-direction:row;
    justify-content:space-around;
    margin: 5px;
}
.header-button div a{
    margin: 5px;
    border: 2px solid gold;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.header-button a:hover{
    color: rgb(22, 87, 199);
    background: white;
    box-shadow: 0 0 20px 0 rgba( 0,0,0,0.3)
}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;;
    color: gold;
}
.header-extradiv{
    background: #f7f7f7;
    text-align: center;
    width:100%;
    height: auto;
    margin: 100px 0;
    padding: 20px;

}
.header-extradiv:hover{
    background: white;
}
.extra-div1{
    color: black;
    text-decoration-line: underline;
    text-align: center;
    text-shadow: 2px 2px #928888;
}
.extra-div{
    margin-top: 20px;
    background: white;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.5s;
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba( 0,0,0,0.3);
    transform: translateY(-20px);

}
/*------------------------ende---------------------*/
/*---------------------service -------------------*/
.serviceoffers{
    background: #f7f7f7;
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings{
    margin-bottom: 50px;

}
.header h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    text-align: left;
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
.service-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-about{
    margin-top: 0px;
    padding-top: 0px;
    background-color: red;
    background-image: url('../images/home1.jpg');
   
  
}

.about-div{
    background-image: url('../images/home1.jpg');
   
    color: white;
   
}

  








